* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 18;
}
body {
    margin: 0;
    
  
}
.Logo {
    font-size: 2em;
    letter-spacing: .2em;
    margin-left: 50px;
}

.Occupation {
    font-size: em;
    letter-spacing: .4em;
    text-transform: uppercase;
    margin-left: 50px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    margin-top: 50px;
    width: 100%;
}
 
.nav-list {
    list-style-type: none;
    margin-right: 50px;
    
    
}

.nav-list .list-item {
    display: inline-block;
    margin: 20px;
    font-size: 1.2em;
   
}



.navbar a {
    text-decoration: none;

}


.navbar a.about:hover {
    color: rgb(255, 255, 0);
}

.navbar a.projects:hover {
    color: rgb(255, 73, 73);
}

.navbar a.contact:hover {
    color: rgb(0, 102, 255);
}

 .contact {
    height: 100%;
}

.main-content {
    margin-top: 200px;
   
}

.image-container {
    display: flex;
    justify-content: center;
}
.image-containertwo {
    display: flex;
    justify-content: center;
}


img {
    width: 10%;
    margin: 20px;
    
}
